.navbar {

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 6;
    
    color: var(--red);
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 42px;
        padding: 0 20px;
    }

    .hamburger {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .hamburger:hover {
        color: var(--white);
        -webkit-text-stroke: 1px var(--black);
    }

    .logo {
        position: relative;
        transition: all 0.2 ease-in;
    }

    .home-btn {
        margin-left: 40px;
        opacity: 0;
        transition: all 0.2s ease-in;
    }

    .logo:hover .home-btn {
        margin-left: 0px;
        opacity: 1
    }

    a {
        text-decoration: none;
    }
}